#### Checking if list is empty or not

In [26]:
l = []
if not l:
    print("list is empty")
else:
    print(l)

list is empty

#### Checking whether a item is in a list

In [28]:
l = [1,2,3]
print(3 in l)
print(4 in l)

True
False

Note: the in operator on sets is asymptotically faster than on lists. If you need to use it many times on potentially large lists, you may want to convert your list to a set, and test the presence of elements on the set.

In [29]:
s = set(l)
3 in s

True

Also, the above method using `set` removes all the duplicate values in a list.

#### Checking whether all (or any) items evaluates to True

In [30]:
l1 = [1,0,1,2]
print(all(l1))
print(any(l1))
l2 = ['a','b']
print(all(l2))

False
True
True

In [1]:
l1 = [3,[44,55],(7,8,9)]
l2 = list(l1)

print('l2 == l1 ->', l2==l1)                #true
print('l2 is l1 ->', l2 is l1)               #false
print('l1[1] is l2[1] ->', l1[1] is l2[1])   #true
print('l1[2] is l2[2] ->', l1[2] is l2[2])   #true

l2 == l1 -> True
l2 is l1 -> False
l1[1] is l2[1] -> True
l1[2] is l2[2] -> True

Though `l2` and `l1` has same content and refers to different objects in memory, its content still refers to same objects in memory. Only outermost container is copied.

As for inner items, they still refers to same objects. This is the example of shallow copying. This happens for memory efficiency related reasons.

In [2]:
a1 = [1]
a2 = a1         #both refers to same object
a3 = list(a1)   #both refers to different objects
a4 = a1[:]      #both refers to different objects

print('a1 is a2 -> ', a1 is a2)    #true
print('a1 is a3 -> ', a1 is a3)    #false
print('a1 is a4 -> ', a1 is a3)    #false

a1 is a2 ->  True
a1 is a3 ->  False
a1 is a4 ->  False

In [3]:
t1 = (1,)    # if ',' is omitted, t1 will be of 'int' type.
t2 =tuple(t1)
print("t2 is t1 -> ", t2 is t1)   #true

t2 is t1 ->  True

In case of `l2 = list(l1)`, both `l1` and `l2` refer to different objects. However, in caese of `t2 = tuple(t1)`, both `t1` and `t2` refer to same object.

```python
b = a 
```
both refers to same object, irrespective of their types.

```python
b = constructor(a) 
```
if type mutable, both refer to different object otherwise same object
```python
b = a[:]
```
if type mutable, both refer to different object otherwise same object.

#### Mutability of Tuples

In [1]:
t1 = (1,2,[3,4])

print(t1)
print("id of t1 is %d" %id(t1))
print("id of t1[-1] is %d" %id(t1[-1]))

t1[-1].append(5)

print("now t1 is ", t1)
print("now id of t1 is %d" %id(t1))
print("now id of t1[-1] is %d" %id(t1[-1]))

(1, 2, [3, 4])
id of t1 is 54388656
id of t1[-1] is 53044688
now t1 is  (1, 2, [3, 4, 5])
now id of t1 is 54388656
now id of t1[-1] is 53044688

Tuples are immutable but above we can see it got mutated. This example shows how tuples can be mutable if one of its elements is of mutable type. In this example, original and final tuple still have same id.

This also illustrates the situation in which the value of a tuple changes as result of changes to a mutable object referenced in it. What can never change in a tuple is the identity of the items it contains. Also â€“

In [6]:
t = (1,2,[30,40])
t[2] += [50,60] #id of list won't change

TypeError: 'tuple' object does not support item assignment

In [4]:
t[2] = t[2] +[50,60] #won't work as id of list will change which isn't allowed as tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [7]:
t

(1, 2, [30, 40, 50, 60])

Here again, tuple `t` got mutated even though an exception was raised.

#### A List Gotcha

In [18]:
a = [[None]*2]*3
a

[[None, None], [None, None], [None, None]]

In [19]:
id(a), id(a[0])

(54923912, 53093000)

In [20]:
id(a[0]) == id(a[1]) == id(a[2])

True


The lists `a[0]`,`a[1]` and `a[2]` are pointing to same list. They all have same `id()` value.

In [21]:
id(a[0][0]) == id(a[1][0]) == id(a[2][0])

True

In [22]:
a[0][0] =1
a

[[1, None], [1, None], [1, None]]

In [23]:
id(a), id(a[0])

(54923912, 53093000)

What the heck! We tried to change only one element and here 3 elements are changed!

The lists `a[0]`, `a[1]`, `a[2]` are STIL pointing to same list. They all STILL have same `id()` value.
The reason behind above is that replicating a list with `*` doesnâ€™t create copies, it only creates references to the existing objects. The `*3` creates a list containing 3 references to the same list of length two. Changes to one row will show in all rows, which is almost certainly not what you want. Try below instead -

In [10]:
a = [None] * 3
for i in range(3):
    a[i] = [None] *2

a

[[None, None], [None, None], [None, None]]

In [11]:
a[0][0] = 1
a

[[1, None], [None, None], [None, None]]

#### `sorted(list)` vs `list.sort()`

In [25]:
a = [1,2,34,4,56,33]
sorted(a)   #only return view, no in place modification

[1, 2, 4, 33, 34, 56]

In [26]:
a

[1, 2, 34, 4, 56, 33]

In [27]:
a.sort() #in place modification

In [28]:
a

[1, 2, 4, 33, 34, 56]

Notice that `sorted(a)` method returns different list while `a.sort()` modify the existing list.

#### Inserting an element in a sorted list and ensure that list remains sorted

In [2]:
a = [1,2,4,5]

import bisect
bisect.insort(a, 3)
a

[1, 2, 3, 4, 5]

In [4]:
a = ['a','c','d']

import bisect
bisect.insort(a, 'b')
a

['a', 'b', 'c', 'd']

#### `list.append` vs `list.extend`

In [16]:
l = [1,2,3,4,5]
l.append([6,7])
l

[1, 2, 3, 4, 5, [6, 7]]

In [17]:
l.extend([6,7])
l

[1, 2, 3, 4, 5, [6, 7], 6, 7]

#### `enumerate()`

In [20]:
b = ['a','b','e','d']
for i,v in enumerate(b, start =1):
    print(i,v)

# If â€˜startâ€™ parameter had not been given, counting would have started from 0 instead of 1.

1 a
2 b
3 e
4 d

#### `zip()`

In [21]:
name = ['mayank', 'rohit']
surname = ['gupta', 'kumar']


list(zip(name,surname))

[('mayank', 'gupta'), ('rohit', 'kumar')]

In [22]:
dict(zip(name,surname))

{'mayank': 'gupta', 'rohit': 'kumar'}

In [25]:
m = [[1,2,3],[4,5,6]]
list(zip(*m))

[(1, 4), (2, 5), (3, 6)]

In [26]:
m = [(1,2,3),(4,5,6)]
list(zip(*m))

[(1, 4), (2, 5), (3, 6)]

In [27]:
l = [1,2,3,4,5,6,7,8,9]
list(zip(*[iter(l)]*3))

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

#### `zip(*x)`   ->  this is sort of reverse zip function

In [28]:
x = ('a', 12), ('c', 15),('d', 17)
names,ages = zip(*x)
names

('a', 'c', 'd')

In [29]:
ages

(12, 15, 17)

In [35]:
a = [('b',1),('c',2),('d',3)]

e = ('f', *zip(*a))
e
# only for 3.6+

('f', ('b', 'c', 'd'), (1, 2, 3))

#### Notice how `*` is used to unpack any iterables -

In [30]:
g = (n ** 2 for n in range(5))
print(g)

<generator object <genexpr> at 0x03298090>

In [31]:
print(*g)

0 1 4 9 16

In [32]:
l = [1,2,3]
print(*l)

1 2 3

In [34]:
s = range(3)
print([*s])
print((*s,))
print({*s})

#Available only in 3.5+

[0, 1, 2]
(0, 1, 2)
{0, 1, 2}

In [1]:
>>> data = [(1, 2, 3), ('a', 'b', 'c')] 
>>> zipped = zip(*data) 
>>> unzipped = zip(*zipped) 
>>> list(unzipped)

[(1, 2, 3), ('a', 'b', 'c')]

Relevant [link](https://docs.python.org/3.7/tutorial/controlflow.html#unpacking-argument-lists) for above

#### List Comprehension

This basic syntax, then, is `[expr for var in iterable]`, where `expr` is any valid expression, `var` is a variable name, and `iterable` is any iterable Python object.

In [36]:
foo = [[1,2],[3,4]]
[f for bar in foo for f in bar]

[1, 2, 3, 4]

In [37]:
[(i, j) for i in range(2) for j in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

Notice that the second `for` expression acts as the interior index, varying the fastest in the resulting list. This type of construction can be extended to three, four, or more iterators within the comprehension, though at some point code readibility will suffer!

#### Few Minor Bits about Lists

In [38]:
a= [1,2,3]
b = reversed(a)
list(b)

[3, 2, 1]

In [39]:
all([])

True

In [40]:
list(range(2,2))

[]

In [41]:
a = []
a.__class__

list

In [42]:
a = range(10)
b =list(a)

b[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [43]:
b[::2]

[0, 2, 4, 6, 8]

#### For looping over partially consumed iterator

In [44]:
l = [1,2,3,4,5]
it = iter(l)
next(it)

1

In [45]:
for i in it:
    print(i)

2
3
4
5

#### Combine Two Lists with List Comprehensions

In [1]:
colors = ['red','blue','green' ]
toys = ['car','ball','duck']

[[color, toy] for color in colors for toy in toys]

[['red', 'car'],
 ['red', 'ball'],
 ['red', 'duck'],
 ['blue', 'car'],
 ['blue', 'ball'],
 ['blue', 'duck'],
 ['green', 'car'],
 ['green', 'ball'],
 ['green', 'duck']]

#### Combining Lists into a Single List

In [3]:
lol = [['a','b','c'],['b','c','d'],['d','e']]
a = set().union(*lol)
list(a)

['a', 'e', 'd', 'b', 'c']

### Dictionaries

In [1]:
a = {}
type(a)

dict

In [2]:
b = dict(a)
type(b)

dict

In [3]:
print(a is b)
print(a == b)

False
True

In [4]:
c = a
a is c

True

In [6]:
 [i for i in dir(a) if '_' not in i]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [7]:
a = {'b':3, 'c':4}
print(a.keys())
print(a.values())
print(a.items())

dict_keys(['b', 'c'])
dict_values([3, 4])
dict_items([('b', 3), ('c', 4)])

In [8]:
a.update({'b':1})
a

{'b': 1, 'c': 4}

In [9]:
a.pop('b')
a

{'c': 4}

In [10]:
a.update({'b':6})
a

{'b': 6, 'c': 4}

In [11]:
a.popitem()

('b', 6)

In [12]:
a

{'c': 4}

In [13]:
a.popitem()

('c', 4)

In [14]:
a

{}

In [16]:
a['peter'] = 4
a

{'peter': 4}

In [17]:
a['sam']

KeyError: 'sam'

In [18]:
a.get('sam') #since this key is not present, it will not return anything

In [19]:
a.get('sam',0) #default value 0 will be output if key is not present

0

In [21]:
for k,v in a.items(): #can iterate over key, value simultaneously 
    print(k,v)

peter 4

In [22]:
a = {'b':3, 'c':4}
b = {'b':7,'d':9}
merged = {**a, **b} #for 3.5++
merged

{'b': 7, 'c': 4, 'd': 9}

Above, we merged two dictionaries. Notice for key 'b', lattermost value was used.

In [23]:
from collections import OrderedDict
d = OrderedDict()

d['first'] = 1
d['second'] = 2
d['third'] =  3
d

OrderedDict([('first', 1), ('second', 2), ('third', 3)])

### String

In [29]:
'' #emplty string 
type('')

str

In [31]:
%pprint
dir('')

Pretty printing has been turned OFF

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [14]:
s = 'abc'
s.capitalize(), s.isnumeric(), s.islower(), s.isdigit(), s.isprintable(), s.istitle(), s.isupper(), s.isidentifier(),s.isalpha(), s.isdecimal()

('Abc', False, True, False, True, False, False, True, True, False)

In [40]:
s.title(), s.upper()

('Abc', 'ABC')

In [44]:
s.startswith('a'), s.startswith('b'), s.endswith('c')

(True, False, True)

In [43]:
s.count('a') #count the non-overlapping occurence of substring

1

In [46]:
s.center(10, '*') #10 is width of new string, '*' is filler. s is placed at center of this new string

'***abc****'

In [7]:
d = {'a':'mayank', 'b': 35}

print("my name is {a} and age is {b}".format_map(d))

my name is mayank and age is 35

In [11]:
s = "Sam is tall"
s.index('a'), s.index('a',2)

#S.index(sub[, start[, end]]) -> int
#return the lowest index where substring sub is found

(1, 8)

In [18]:
'-'.join('aa')

'a-a'

In [20]:
seq = ['1','2','3']
'-'.join(seq) #element of seq must be string

'1-2-3'

In [21]:
s = ' abc '
s.strip(), s.lstrip(), s.rstrip()

('abc', 'abc ', ' abc')

In [25]:
s = '  abc' #all leading whitespace removed
s.lstrip()

'abc'

In [29]:
s = 'aabc'
s.lstrip('a') #all leading 'a' removed

'bc'

In [33]:
s.rjust(10,'*'), s.ljust(5,'*')

('******aabc', 'aabc*')

In [36]:
s.partition('b'), s.rpartition('a') #in rpartition 'a' is searched from right

(('aa', 'b', 'c'), ('a', 'a', 'bc'))

In [39]:
s.split('b'), 'ab cd'.split()

(['aa', 'c'], ['ab', 'cd'])

In [41]:
l = 'name is Peter\nAge is 33'
l.splitlines()

['name is Peter', 'Age is 33']

In [43]:
s.zfill(10) #padding with zero on the left. 10 is width

'000000aabc'