[Builtin Function Docs](https://docs.python.org/3.9/library/functions.html)

![](images/builtin.png)

Functions which are generally considered important are described below. The functions omitted below are of slightly advance uses or are rarely needed. You should still try to look into all of them time to time.

### `abs(x)`

Return the absolute value of a number. The argument may be an integer, a floating point number. If the argument is a complex number, its magnitude is returned.

In [1]:
abs(-1), abs(3.33), abs(3-4j)

(1, 3.33, 5.0)

### `all(iterable)`

Return `True` if all elements of the iterable are true (or if the iterable is empty).

In [2]:
all(range(3)), all('mayank'), all([1,2,3])

(False, True, True)

### `any(iterable)`

Return `True` if any elements of the iterable are true (or `False` if the iterable is empty).

In [3]:
any(range(3)), any('mayank'), any([1,2,3]), any([0])

(True, True, True, False)

### `bin()`

Convert an integer number to a binary string prefixed with “0b”.

In [4]:
bin(3), bin(-4)

('0b11', '-0b100')

### `bool()` 

Returns truth of value a given object

In [6]:
bool(''), bool('m'), bool([1,2]), bool(None)

(False, True, True, False)

### `chr(i)`

Return the string representing a character whose Unicode code point is the integer `i`. This is the inverse of `ord()`.

The valid range for the argument is from 0 through 1,114,111 (0x10FFFF in base 16). `ValueError` will be raised if `i` is outside that range.

In [189]:
chr(1111), chr(10551)

('ї', '⤷')

### `complex(real [, img])`

In [191]:
complex(1,3), complex('1+6j')

((1+3j), (1+6j))

In [192]:
complex('1 + 6j') #no whitespace around '+' should be given

ValueError: complex() arg is a malformed string

### `dict()` 

Creates a dictionary. More on this in other notebook.

In [7]:
a = dict()
    
a,type(a)

({}, dict)

### `dir([object])`

Without arguments, return the list of names in the current local scope. 
#With an argument, attempt to return a list of valid attributes for that object.

In [9]:
%pprint
dir('') #

Pretty printing has been turned OFF

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

### `divmod(a,b)`

return a pair of numbers consisting of their quotient and remainder when using integer division.

In [10]:
divmod(13,3), divmod(12.3, 3)

((4, 1), (4.0, 0.3000000000000007))

### `enumerate(iterable, start = 0)`

In [11]:
a = enumerate(['b','x','z'])
list(a)

[(0, 'b'), (1, 'x'), (2, 'z')]

In [197]:
b = ['a','b','e','d']
for i,v in enumerate(b, start =1):
    print(i,v)

1 a
2 b
3 e
4 d

### `filter()` 

covered in Python Function notebook.

### `float(x)`

Return a floating point number constructed from a number or string x.

In [12]:

float(2), float(2.0), float('2.2'), float('nan'), float('-2.2'), float('-inf')

(2.0, 2.0, 2.2, nan, -2.2, -inf)

### `help(object)`

In [196]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

### `hex(x)`

In [15]:
hex(10) #hexadecimal number in string representation, prefixed by '0x'

'0xa'

### `id(x)`

Return the “identity” of an object. This is the memory address where object is saved.

In [13]:
id('a')

610307208304

### `int()`

In [14]:
int(), int('1'), int('a',16) #last example says 'a' is a hexadecimal number

(0, 1, 10)

### `input([prompt])`

In [16]:
s = input('--> ')

--> Hello, guys!!

If the `prompt` argument is present, it is written to standard output without a trailing newline. The function then reads a line from input, converts it to a string (stripping a trailing newline), and returns that.

In [18]:
s

'Hello, guys!!'

### `isinstance(object, classinfo)`

In [19]:
a = int()
isinstance(a, int)

True

In [22]:
class Test:
    pass

class Test1(Test):
    pass

test = Test()
test1 = Test1()

isinstance(test, Test)

True

In [24]:
isinstance(test1, Test) #note 'test1' instance is not the direct instance of class Test.

True

### `issubclass(class, classinfo)`

In [25]:
issubclass(Test1, Test)

True

### `iter(object[, sentinel]`

`iter` function has two different use depending on the presence of `sentinel` parameter. When no `sentinel` argument is passed, `object` must be an iterable. If `sentinel` value is passed, `object` must be callable (like function or class). In this case, function is kept running until `sentinel` value is encountered.


This function returns an iterator object. This iterator object, when passed to `next` function, returns one item with each call to `next`.

In [211]:
a = iter('mayank')
type(a)

str_iterator

In [212]:
next(a)

'm'

In [233]:
l = [12,32,554,100,565,65]

def xyz():
    return l.pop()

fp = iter(xyz, 100)

while True:
    print(next(fp))

65
565

StopIteration:

### `len(s)` - returns number of elements in a collection

In [183]:


len('abc'), len([1,2,3,4]), len((2,4,5,6,6)), len({1}), len({'a':1, 'c': 3}),  len(range(4))

(3, 4, 5, 1, 2, 4)

In [29]:
import sys

sys.maxsize  #this is the maximum length len() function can return, beyond this OverflowError will be raised

9223372036854775807

In [30]:
len(range(2**100))

OverflowError: Python int too large to convert to C ssize_t

### `list()`  

Covered elsewhere

### `map(function, iterable, ...)` 

covered elsewhere

### `max(iterable, *[, key, default])`
### `max(arg1, arg2, *args[, key])`

Return the largest item in an iterable or the largest of two or more arguments.

If one positional argument is provided, it should be an iterable. The largest item in the iterable is returned. If two or more positional arguments are provided, the largest of the positional arguments is returned.

There are two optional keyword-only arguments. The `key` argument specifies a one-argument ordering function like that used for `list.sort()`. The `default` argument specifies an object to return if the provided iterable is empty. If the iterable is empty and default is not provided, a `ValueError` is raised.

If multiple items are maximal, the function returns the first one encountered.

In [38]:
#max()

max([1,2,3]), max('abc'), max({'a':2,'b':3}) #largest in an iterable

(3, 'c', 'b')

In [33]:
max([1,2,3],[2,3,4]) #largest of 2 iterable

[2, 3, 4]

In [36]:
a = ['a','b','c']
b = ['b','a','c']

max(a,b)  #largest  of 2 iterables

['b', 'a', 'c']

In [40]:
max('a','b','c','Z'), max('a','b','c','Z', key = str.lower) #if one iterable, key function can be given to sort

('c', 'Z')

In [42]:
max([], default ='No value') #if empty iterable, default is returned

'No value'

In [234]:
max('-', '+')

'-'

Note that strings are compared based on the value of `ord(character)` function. Character with lower `ord(character)` value is considered smaller.

In [235]:
ord('-'), ord('+')

(45, 43)

### `min()` 

Opposite of `max()`

### `next(iterator [,default] )`

Retrieve the next item from the iterator by calling its `__next__()` method. If default is given, it is returned if the iterator is exhausted, otherwise `StopIteration` is raised.

Note that *iterable* and *iterator* are two different things.

In [50]:
a = [1,2,3] #this is iterable
b = iter(a)
next(b)

1

In [52]:
next(b)

2

In [53]:
next(b)

3

In [54]:
next(b)

StopIteration:

In [61]:
a = [1,2,3] #this is iterable
b = iter(a)

for i in range(len(a)+1):
    print(next(b, 'End of Iteration')) #default value `End of Iteration` is returned if iterator exhausted

1
2
3
End of Iteration

### `open()`

Refer the section related to file reading and writing.

### `ord(c)`

Returns the Given a string representing one Unicode character, return an integer representing the Unicode code point of that character.

You are advised to learn about Unicode, ASCII code etc. Refer the pertinenet notebook.

In [62]:
ord('a'), ord('A'), ord('€')

(97, 65, 8364)

### `pow(base, exp[, mod])`

Return base to the power exp; if mod is present, return base to the power exp, modulo mod (computed more efficiently than `pow(base, exp) % mod)`. The two-argument form `pow(base, exp)` is equivalent to using the power operator: `base**exp`.

For `int` operands `base` and `exp`, if `mod` is present, `mod` must also be of integer type and `mod` must be nonzero. If `mod` is present and `exp` is negative, `base` must be relatively prime to `mod`. In that case, `pow(inv_base, -exp, mod)` is returned, where `inv_base` is an inverse to `base modulo mod`.

Study the following examples carefully -

In [67]:
pow(2,3), pow(100,-2), pow(-9, .5)

(8, 0.0001, (1.8369701987210297e-16+3j))

In [71]:
pow(23,2,2), pow(23,2,5)

(1, 4)

Above 2 operations are equivalent to followings -

In [72]:
(23**2)%2, (23**2)%5

(1, 4)

When `mod` is present but `exp` is negative -

In [73]:
pow(38, -1, mod=97)

23

In [74]:
(23 * 38) % 97 == 1

True

You are advised to learn some modular arithmatic to understand that.

### `print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)`

In [83]:
print('Mayank','!')
print('\n')
names = ['Mayank', 'Peter', 'Sam']
print(names)
print('\n')
print('\t',*names, sep = ' ,')

Mayank!


['Mayank', 'Peter', 'Sam']


	 ,Mayank ,Peter ,Sam

### `range(stop)`
### `range(start,stop [,step])`

`stop` value is non-inclusive. If only one parameter is present, it is taken as `stop` value with `start` being 0 and `step` being 1.

If 2 parameters are passed, they are `start` and `stop` respectively. 

For a positive step, the contents of a range r are determined by the formula `r[i] = start + step*i` where `i >= 0` and `r[i] < stop`.

For a negative step, the contents of the range are still determined by the formula `r[i] = start + step*i`, but the constraints are `i >= 0` and `r[i] > stop`.

In [86]:
for i in range(3):
    print(i)

0
1
2

In [85]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [89]:
r = range(0,20,2)
r, 11 in r, r.index(10), r[5], r[:5], r[-1]

(range(0, 20, 2), False, 5, 10, range(0, 10, 2), 18)

In [90]:
range(0) == range(2, 1, 3)

True

### `reversed(seq)`

Returns an iterator

In [246]:
some_lst = [1,2,3,4]

reversed(some_lst)

In [247]:
for i in reversed(some_lst):
    print(i)

4
3
2
1

In [248]:
list(reversed('abc'))

['c', 'b', 'a']

In [250]:
a = reversed('abcd')

while True:
    print(next(a))

d
c
b
a

StopIteration:

### `round(number[, ndigits])`

For the built-in types supporting `round()`, values are rounded to the closest multiple of 10 to the power minus ndigits; if two multiples are equally close, rounding is done toward the even choice (so, for example, both `round(0.5)` and `round(-0.5)` are `0`, and `round(1.5)` is `2`). Any integer value is valid for ndigits (positive, zero, or negative). The return value is an integer if ndigits is omitted or `None`. Otherwise the return value has the same type as number.

In [96]:
pi = 3.1415
some_value = 312.1213
round(pi, 2), round(pi), round(some_value, -2) #notice the case of -ve value of ndigits

(3.14, 3, 300.0)

The behavior of `round()` for floats can be surprising: for example, `round(2.675, 2)` gives `2.67` instead of the expected `2.68`. This is not a bug: it’s a result of the fact that most decimal fractions can’t be represented exactly as a float.

In [98]:
#be careful

round(2.675,2) #output is NOT 2.68 as expected

2.67

### `set([iterable])`

`set` is actually a class and return a new set object, optionally with elements taken from iterable. set is a built-in class.

In [99]:
a = set() #returns an empty set
b = set('aabbbc')

a,b,

(set(), {'a', 'c', 'b'})

### `slice(stop)` and `slice(start, stop [, step]`

Both are actually classes. Although rarely needed, users may use them as named slice objects for reuse. See example below

In [104]:
a = slice(3)
my_name = 'Mayank'

my_name[a]

'May'

In [108]:
a.stop

3

### `sorted(iterable, key = None, reverse = False)`

Return a new sorted list from the items in iterable.

Has two optional arguments which must be specified as keyword arguments.

`key` specifies a function of one argument that is used to extract a comparison key from each element in iterable (for example, `key=str.lower`). The default value is `None` (compare the elements directly). reverse is a boolean value. If set to `True`, then the list elements are sorted as if each comparison were reversed.

In [110]:
sorted('Mayank')

['M', 'a', 'a', 'k', 'n', 'y']

In [111]:
sorted('Mayank', key = str.lower)

['a', 'a', 'k', 'M', 'n', 'y']

In [112]:
fruits = ['strawberry', 'fig', 'apple', 'cherry', 'raspberry', 'banana']
sorted(fruits, key=len)

['fig', 'apple', 'cherry', 'banana', 'raspberry', 'strawberry']

In [115]:
sorted(fruits, key = len, reverse = True)

['strawberry', 'raspberry', 'cherry', 'banana', 'apple', 'fig']

In [113]:
def reverse(word):
    return word[::-1]

#sorted on the basis of last letters
sorted(fruits, key=reverse)

['banana', 'apple', 'fig', 'raspberry', 'strawberry', 'cherry']

In [114]:
sorted(fruits, reverse = True)

['strawberry', 'raspberry', 'fig', 'cherry', 'banana', 'apple']

In [127]:
%pprint
data = [{'first':'Guido', 'last':'Van Rossum', 'YOB':1956},
        {'first':'Grace', 'last':'Hopper',     'YOB':1906},
        {'first':'Alan',  'last':'Turing',     'YOB':1912}]

# sort alphabetically by first name
sorted(data, key=lambda item: item['first'])

Pretty printing has been turned ON

[{'first': 'Alan', 'last': 'Turing', 'YOB': 1912},
 {'first': 'Grace', 'last': 'Hopper', 'YOB': 1906},
 {'first': 'Guido', 'last': 'Van Rossum', 'YOB': 1956}]

In [128]:
# sort by year of birth
sorted(data, key=lambda item: item['YOB'])

[{'first': 'Grace', 'last': 'Hopper', 'YOB': 1906},
 {'first': 'Alan', 'last': 'Turing', 'YOB': 1912},
 {'first': 'Guido', 'last': 'Van Rossum', 'YOB': 1956}]

In [130]:
class Student:
    def __init__(self, name, grade, age):
        self.name = name
        self.grade = grade
        self.age = age

    def __repr__(self):
        return repr((self.name, self.grade, self.age))

In [131]:
student_objects = [
    Student('john', 'A', 15),
    Student('jane', 'B', 12),
    Student('dave', 'B', 10),
]


sorted(student_objects, key=lambda student: student.age)   # sort by age

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [132]:
marks = {'Mayank':23, 'Peter':22, 'Sam': 25}

a = sorted(marks.items(), key = lambda x: x[1])
dict(a)

{'Peter': 22, 'Mayank': 23, 'Sam': 25}

In [133]:
b = sorted(marks.items(), key = lambda x: x[0])
dict(b)

{'Mayank': 23, 'Peter': 22, 'Sam': 25}

### `str(object = '')`
### `str(object=b'', encoding='utf-8', errors='strict')`



Returns a string (`str`) object.

In [238]:
a = [1]
type(a),str(a)

(list, '[1]')

In [256]:
str('\u006f')

'o'

In [244]:
a = str.encode('ې')
type(a), a

(bytes, b'\xdb\x90')

In [243]:
str(b'\xdb\x90', encoding='utf-8', errors='strict')

'ې'

In [245]:
str('\uFDFD')

'﷽'

Note that `\u` is used for 4 hex digits Unicode codepoints. `\U` is used similarily but it expects 8 hex digits. If required, leading 0s can be used to make 8 digits codepoint. [See this](https://docs.python.org/3/howto/unicode.html#unicode-literals-in-python-source-code)

In [252]:
str('\u1F600') #wrong. It is parsed as '\u1f60' and 0

'ὠ0'

In [253]:
str('\U0001F600')

'😀'

In [257]:
str('\u006f'), str('\U0000006f')

('o', 'o')

### ` sum(iterable, /, start=0)`

Sums `start` and the items of an `iterable` from left to right and returns the total. The iterable’s items are normally numbers, and the `start` value is not allowed to be a string.

In [134]:
sum(range(3))

3

In [136]:
sum(range(3), 13)  #13 + sum(range(3))

16

In [141]:
sum([1,2])

3

### `tuple([iterable])`

In [142]:
some_tuple = tuple()

some_tuple

()

In [143]:
names = ['Mayank', 'Peter', 'Sam']

tuple(names)

('Mayank', 'Peter', 'Sam')

### `type(object)`
### `type(name, bases, dict, **kwds)`

With one argument, return the type of an object. The return value is a type object and generally the same object as returned by `object.__class__`.

`type(name, bases, dict, **kwds)` is not discussed as it is used in metaprogramming which is rather advance Python programming.

In [144]:
a = 's'  #string
type(a)

str

In [145]:
a.__class__

str

### `zip(*iterables)`

Make an iterator that aggregates elements from each of the iterables.

Returns an iterator of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables. The iterator stops when the shortest input iterable is exhausted. 

`zip()` should only be used with unequal length inputs when you don’t care about trailing, unmatched values from the longer iterables. If those values are important, use `itertools.zip_longest()` instead.

In [146]:
x = [1, 2, 3]
y = [4, 5, 6]
zipped = zip(x, y)
list(zipped)

[(1, 4), (2, 5), (3, 6)]

In [147]:
x = [1, 2, 3]
y = [4, 5, 6,7]     #this list has 4 items, last item will be ignored by zip() 
zipped = zip(x, y)
list(zipped)

[(1, 4), (2, 5), (3, 6)]

In [148]:
name = ['Peter', 'Sam']
surname = ['Smith', 'Rockwell']

dict(zip(name,surname))

{'Peter': 'Smith', 'Sam': 'Rockwell'}

In [149]:
m = [[1,2,3],[4,5,6]]
list(zip(*m))            # '*' will 'unpack' m

[(1, 4), (2, 5), (3, 6)]

`zip()` makes possible an idiom for clustering a data series into n-length groups using `zip(*[iter(s)]*n)`. This repeats the same iterator `n` times so that each output tuple has the result of `n` calls to the iterator. This has the effect of dividing the input into n-length chunks.

In [150]:
l = [1,2,3,4,5,6,7,8,9]
list(zip(*[iter(l)]*3)) #didn't get it. Now I got it. See below for explanation

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

First, note that `zip` takes iterables as input. `[iter(l)*3]` returns a list of 3 identical iterators. So what `zip` will do is to collect one item from each (identical) iterator to form first tuple. But iterator returns successive items after successive calls to `next()`. This means `zip` goes to first iterator which provides first element by calling `next()`. For second element of first tuple, `zip` goes to next iterator which, in turn, calls `next()`. But this iterator is same as first, so its first call to `next()` is essentially the second `next()` call for first iterator. Similarily, third iterator's first `next()` call will essentially be third.

See code given below

In [151]:
l = [1,2,3,4,5,6,7,8,9]

it = [iter(l)]*3 #list of 3 identical iterator

c = []

#each loop will create a tuple and insert it a list. As soon as any iterable is exhausted,... 
#...StopIteration exception will be raised which  will be caught by `except` clause which will break the loop

while True: 
    try:
        b = (next(it[0]), next(it[1]), next(it[2]))
        c.append(b)

    except StopIteration:
        print(c)
        print('iterable exhausted')
        break

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]
iterable exhausted

`zip()` in conjunction with the `*` operator can be used to unzip a list:

In [179]:
x = [1, 2, 3]
y = [4, 5, 6]

zipped = zip(x, y)
a = list(zipped)
a

[(1, 4), (2, 5), (3, 6)]

In [180]:
x2, y2 = zip(*zip(x,y))
x2

(1, 2, 3)

In [182]:
x3,y3 = zip(*a)
x3

(1, 2, 3)

In [160]:
x = (('a', 12), ('c', 15),('d', 17))
names,ages = zip(*x)
names, ages

(('a', 'c', 'd'), (12, 15, 17))