In [1]:
import numpy as np
import pandas as pd

In [2]:
rng = pd.date_range('1/1/2011', periods = 72,freq = 'H')
rng[:2]

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00'], dtype='datetime64[ns]', freq='H')

In [3]:
ts = pd.Series(np.random.randn(len(rng)), rng)
ts.head()

2011-01-01 00:00:00   -0.878876
2011-01-01 01:00:00   -1.040297
2011-01-01 02:00:00   -1.002073
2011-01-01 03:00:00    0.563463
2011-01-01 04:00:00   -0.105715
Freq: H, dtype: float64

In [4]:
#timeseries.asfreq => convert timeseries to specified frequency

converted = ts.asfreq('45Min', method = 'pad') #method = pad/ffill or bfill/backfill
converted.head()

2011-01-01 00:00:00   -0.878876
2011-01-01 00:45:00   -0.878876
2011-01-01 01:30:00   -1.040297
2011-01-01 02:15:00   -1.002073
2011-01-01 03:00:00    0.563463
Freq: 45T, dtype: float64

In [5]:
ts.resample('D').mean()

2011-01-01   -0.083996
2011-01-02    0.231440
2011-01-03   -0.057534
Freq: D, dtype: float64

|Class|Remarks|How to create|
|------|------|------------|
|`Timestamp`|Represents a single timestamp|`pd.to_datetime`, `pd.Timestamp`|
|`DatetimeIndex`| Index of `Timestamp`|`pd.to_datetime`, `pd.date_range`, `pd.bdate_range`, `pd.DatetimeIndex`|
|`Period`|Represents a single time span|`pd.Period`|
|`PeriodIndex`|Index of `Period`|`period_range`, `PeriodIndex`|
|`Timedelta`| duration or delta|`pd.to_timedelta`, `pd.Timedelta`|
|`TimedeltaIndex`|Index of `Timedelta`|`pd.to_timedelta`|

### `pd.Timestamp`

In [6]:
a = pd.Timestamp('20120425')
a, type(a)

(Timestamp('2012-04-25 00:00:00'), pandas._libs.tslibs.timestamps.Timestamp)

In [7]:
pd.Timestamp(year =2012, month = 11, day =24, hour =22, minute = 5, second =33)

Timestamp('2012-11-24 22:05:33')

In [8]:
pd.Timestamp('3 June, 2013 20:45:23')

Timestamp('2013-06-03 20:45:23')

In [9]:
#number of nanoseconds after the Unix epoch, which is January 1, 1970:
pd.Timestamp(400), pd.Timestamp(400, unit = 'D')

(Timestamp('1970-01-01 00:00:00.000000400'), Timestamp('1971-02-05 00:00:00'))

### `pd.to_datetime`

In [10]:
pd.to_datetime('4th July, 2017')

Timestamp('2017-07-04 00:00:00')

In [11]:
pd.to_datetime(['4th July, 2017','04-05-2013', '01-13-2012', '13-01-2012'])

DatetimeIndex(['2017-07-04', '2013-04-05', '2012-01-13', '2012-01-13'], dtype='datetime64[ns]', freq=None)

Notice that in above example both '01-13-2012' and '13-01-2012' have been converted to '2012-01-13' (YYYYMMDD format).

In [12]:
pd.to_datetime(['4th July, 2017','04-05-2013', '01-13-2012', '13-01-2012'], dayfirst = True)

DatetimeIndex(['2017-07-04', '2013-05-04', '2012-01-13', '2012-01-13'], dtype='datetime64[ns]', freq=None)

By default, `dayfirst` is set to `False` which means '04-05-2013' will be read as MM-DD-YYYY and will be converted YYYY-MM-DD accordingly. However, '13-01-2012' will be read as MM-DD-YYYY for obvious reason.  

By setting `dayfirst` to `True`, we force Pandas to interpret first part to interpret as date but this is not strictly enforced. For example, while parsing '01-13-2012' with `dayfirst` set to `True`, Pandas find that 13 can't be converted to month so it 13 is interpreted as date instead.

In [13]:
from datetime import datetime
dates = pd.to_datetime([datetime(2015, 7, 3), '4th of July, 2015',
                       '2015-Jul-6', '07-07-2015', '20150708'])
dates

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-06', '2015-07-07',
               '2015-07-08'],
              dtype='datetime64[ns]', freq=None)

In [14]:
date = pd.to_datetime('4th July, 2017')
date

Timestamp('2017-07-04 00:00:00')

In [15]:
date.strftime('%A')

'Tuesday'

In [16]:
print(date.dayofweek)
print(date.dayofyear)

1
185

In [17]:
date.day_name(), date.daysinmonth

('Tuesday', 31)

In [18]:
date

Timestamp('2017-07-04 00:00:00')

### `pd.Timedelta`

In [19]:
pd.Timedelta('12 days 5 hours 3 minutes 120 nanoseconds')

Timedelta('12 days 05:03:00.000000')

In [20]:
pd.Timedelta(days = 5, minutes = 3.14)

Timedelta('5 days 00:03:08.400000')

In [21]:
pd.Timedelta(100, unit= 'W')

Timedelta('700 days 00:00:00')

### `pd.to_timedelta`

In [22]:
pd.to_timedelta('67:14:13.124')

Timedelta('2 days 19:14:13.124000')

In [23]:
s = pd.Series([10,100])
pd.to_timedelta(s, unit = 's')

0   00:00:10
1   00:01:40
dtype: timedelta64[ns]

In [24]:
timestring = ['2 days 24 minutes 33.33 seconds']
pd.to_timedelta(timestring)

TimedeltaIndex(['2 days 00:24:33.330000'], dtype='timedelta64[ns]', freq=None)

In [25]:
pd.to_timedelta(np.arange(12), 'D')

TimedeltaIndex([ '0 days',  '1 days',  '2 days',  '3 days',  '4 days',
                 '5 days',  '6 days',  '7 days',  '8 days',  '9 days',
                '10 days', '11 days'],
               dtype='timedelta64[ns]', freq=None)

In [26]:
date + pd.to_timedelta(np.arange(12), 'D')

DatetimeIndex(['2017-07-04', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-08', '2017-07-09', '2017-07-10', '2017-07-11',
               '2017-07-12', '2017-07-13', '2017-07-14', '2017-07-15'],
              dtype='datetime64[ns]', freq=None)

In [27]:
index =date + pd.to_timedelta(np.arange(12), 'H')
index

DatetimeIndex(['2017-07-04 00:00:00', '2017-07-04 01:00:00',
               '2017-07-04 02:00:00', '2017-07-04 03:00:00',
               '2017-07-04 04:00:00', '2017-07-04 05:00:00',
               '2017-07-04 06:00:00', '2017-07-04 07:00:00',
               '2017-07-04 08:00:00', '2017-07-04 09:00:00',
               '2017-07-04 10:00:00', '2017-07-04 11:00:00'],
              dtype='datetime64[ns]', freq=None)

### `pd.Period`

In [28]:
pd.Period('2012-4'),pd.Period('2012-4', freq = 'M'), pd.Period('2012-4', freq = 'D'), pd.Period('2012-4-30')

(Period('2012-04', 'M'),
 Period('2012-04', 'M'),
 Period('2012-04-01', 'D'),
 Period('2012-04-30', 'D'))


### Providing `format` parameter value

In Pandas, values for `format` parameter in function `to_datetime` can be referred from Python's [datetime module](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior).

Some standard values are listed value - 

|format   | Meaning     | Example             | 
|---------|-------------|----------------------|
| ``%a``  | abbr day name| Sun, Mon etc         |
| ``%A``  | full day name| Sunday, Monday       | 
| ``%w``  | Weekday	     | Weekday as number, where 0 is Sun and 6 Sat.|
| ``%d``  | Day         |01, 02, 31           |
| ``%b``  | Month abbr name | Jan, Feb etc    |
| ``%B``  | Month full name | January         | 
| ``%m``  | Month as number | 01 for Jan      |
| ``%y`` | year as 2 digit | 88, 94           |
| ``%Y`` | year as 4 digit | 2013, 2014       |
| ``%H`` | Hour - 24 hour base  | 00 to 23    | 
| ``%I`` | Hour - 12 hour base  | 00 to 12    | 
| ``%p`` | AM or PM       | AM, PM          | 
| ``%M`` | Minutes        | 00 to 59        |
| ``%S`` | Seconds        | 00 to 59        |

### Frequency offset aliases

![](images/frequency.png)

In [29]:
pd.date_range('2015-07-03', '2015-07-10')

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10'],
              dtype='datetime64[ns]', freq='D')

In [30]:
pd.date_range('2015-07-03', periods = 5)

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07'],
              dtype='datetime64[ns]', freq='D')

In [31]:
pd.date_range('2015-07-03', periods = 5, freq = 'H')

DatetimeIndex(['2015-07-03 00:00:00', '2015-07-03 01:00:00',
               '2015-07-03 02:00:00', '2015-07-03 03:00:00',
               '2015-07-03 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [32]:
pd.date_range('2015-07-03', periods = 5, freq = '2H30T') #2 Hr 30 Min period

DatetimeIndex(['2015-07-03 00:00:00', '2015-07-03 02:30:00',
               '2015-07-03 05:00:00', '2015-07-03 07:30:00',
               '2015-07-03 10:00:00'],
              dtype='datetime64[ns]', freq='150T')

In [33]:
start = pd.to_datetime('2012-04-13')
end = pd.to_datetime('2012-06-30')
pd.date_range(start,end, freq = 'D')

DatetimeIndex(['2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01', '2012-06-02', '2012-06-03',
               '2012-06-04', '2012-06-05', '2012-06-06', '2012-06-07',
               '2012-06-08', '2012-06-09', '2012-06-10', '2012-06-11',
               '2012-06-12', '2012-06-13', '2012-06-14', '2012-06-15',
               '2012-06-16', '2012-06-17', '2012-06-18', '2012-06-19',
               '2012-06-20', '2012-06-21', '2012-06-22', '2012-06-23',
               '2012-06-24', '2012-06-25', '2012-06-26', '2012-06-27',
               '2012-06-28', '2012-06-29', '2012-06-30'],
              dtype='datetime64[ns]', freq='D')

In [34]:
start.strftime('%A')

'Friday'

In [35]:
pd.bdate_range(start,end) #Saturdays and Sundays won't be included

DatetimeIndex(['2012-04-13', '2012-04-16', '2012-04-17', '2012-04-18',
               '2012-04-19', '2012-04-20', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-30',
               '2012-05-01', '2012-05-02', '2012-05-03', '2012-05-04',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01',
               '2012-06-04', '2012-06-05', '2012-06-06', '2012-06-07',
               '2012-06-08', '2012-06-11', '2012-06-12', '2012-06-13',
               '2012-06-14', '2012-06-15', '2012-06-18', '2012-06-19',
               '2012-06-20', '2012-06-21', '2012-06-22', '2012-06-25',
               '2012-06-26', '2012-06-27', '2012-06-28', '2012-06-29'],
              dtype='datetime64[ns]', freq='B')

#### Partial String Indexing

In [36]:
start = pd.to_datetime('2012-04-13')
end = pd.to_datetime('2012-06-30')
rng = pd.date_range(start,end, freq = 'D')
data = pd.Series(np.random.randn(len(rng)),rng)
data.sample(4)

2012-06-20    2.021073
2012-04-20   -0.723303
2012-05-01   -2.027552
2012-04-14    0.074868
dtype: float64

In [37]:
data.index[:5]

DatetimeIndex(['2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17'],
              dtype='datetime64[ns]', freq='D')

In [38]:
data.index.resolution

'day'

In [39]:
data.tail()

2012-06-26   -0.920881
2012-06-27    0.040598
2012-06-28    1.773956
2012-06-29    0.532963
2012-06-30    1.511433
Freq: D, dtype: float64

In [40]:
import datetime as dt
data['26/4/2012'], data['4/26/2012'], data[dt.datetime(2012,5,26)]

(-0.9492629628870368, -0.9492629628870368, 0.4077177391401218)

In [41]:
data['2012/4/13':'2012/5/2'].sample(5)

2012-04-15   -1.272244
2012-04-14    0.074868
2012-04-20   -0.723303
2012-04-19   -0.100190
2012-04-29    0.278908
dtype: float64

In [42]:
data['2012'].sample(4)

2012-06-07   -0.565917
2012-05-07    0.398202
2012-05-09   -0.357402
2012-05-10   -2.047663
dtype: float64

In [43]:
data['2012-4'].head()

2012-04-13    0.854759
2012-04-14    0.074868
2012-04-15   -1.272244
2012-04-16   -0.804857
2012-04-17   -2.036800
Freq: D, dtype: float64

In [44]:
data['2012-04-15']

-1.2722438057171503

In [45]:
data['2012-04-15 13:33:22'] #error

KeyError: '2012-04-15 13:33:22'

#### Slice vs Exact Match

Above, we saw that `data.index.resolution` equals to `day`. So when we run something like `data['2012-4']`(resolution is less than `day`), we are basically doing slicing of data.

An example -

In [46]:
ser_min = pd.Series([1,2,3], pd.DatetimeIndex(['2011-12-31 23:59:00','2012-01-01 00:00:00','2012-1-1 00:03:00']))
ser_min

2011-12-31 23:59:00    1
2012-01-01 00:00:00    2
2012-01-01 00:03:00    3
dtype: int64

In [47]:
ser_min.index.resolution

'minute'

In [48]:
ser_min['2012-1-1 00'] #essentially slicing as string resolution is less than index resolution, hence series returned`

2012-01-01 00:00:00    2
2012-01-01 00:03:00    3
dtype: int64

In [49]:
ser_min['2012-1-1 00:00']

2

In [50]:
dft_minute = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]},index=ser_min.index)
dft_minute

                     a  b
2011-12-31 23:59:00  1  4
2012-01-01 00:00:00  2  5
2012-01-01 00:03:00  3  6

In [51]:
dft_minute['2011-12-31 23'] #slicing because string res less than index res, hence dataframe is returned

                     a  b
2011-12-31 23:59:00  1  4

In [52]:
dft_minute.index.resolution

'minute'

In [53]:
dft_minute['2011-12-31 23:59'] #error
#KeyError as string res is same as index res so slicing can't happen. 
#hence, string is considered as column index which is obviously absent.

KeyError: '2011-12-31 23:59'

In [54]:
dft_minute['2011-12-31 23:59:00'] #KeyError

KeyError: '2011-12-31 23:59:00'

In [55]:
dft_minute.loc['2011-12-31 23:59']

a    1
b    4
Name: 2011-12-31 23:59:00, dtype: int64

In [56]:
dft_minute.loc['2011-12-31 23:59:00']

a    1
b    4
Name: 2011-12-31 23:59:00, dtype: int64

In [57]:
dft_minute.loc['2011-12-31']

                     a  b
2011-12-31 23:59:00  1  4

#### Exact Indexing

In [58]:
rng = np.random.RandomState(123)
dft = pd.DataFrame(rng.randn(100000,1),
                   columns=['A'],
                   index=pd.date_range('20130101',periods=100000,freq='T'))
dft.sample(5)

                            A
2013-03-08 18:20:00  0.027725
2013-01-27 09:56:00  0.573664
2013-01-19 13:24:00 -0.974154
2013-01-14 04:05:00  0.036034
2013-01-21 13:32:00  0.218309

In [59]:
dft.index.resolution

'minute'

In [60]:
dft['2013-1-1':'2013-2-28'].iloc[[0,-1]] 
#

                            A
2013-01-01 00:00:00 -1.085631
2013-02-28 23:59:00 -2.412883

In [61]:
dft[pd.to_datetime('2013-1-1'):pd.to_datetime('2013-2-28')].tail(3)

                            A
2013-02-27 23:58:00  0.350324
2013-02-27 23:59:00 -1.914353
2013-02-28 00:00:00 -1.896754

In [62]:
dft[pd.Timestamp('2013-1-1'):pd.Timestamp('2013-2-28')].tail(3)

                            A
2013-02-27 23:58:00  0.350324
2013-02-27 23:59:00 -1.914353
2013-02-28 00:00:00 -1.896754

 In one case, we basically did the slice operation, while in above case, we actually used the `Timestamp` object which always have a exact meaning. That is `2013-02-28` will mean `2013-02-28 00:00:00`

As discussed in previous section, indexing a `DatetimeIndex` with a partial string depends on the “accuracy” of the
period, in other words how specific the interval is in relation to the resolution of the index. In contrast, indexing with `Timestamp` or `datetime` objects is exact, because the objects have exact meaning. These also follow the semantics of including both endpoints.

These `Timestamp` and `datetime` objects have exact `hours`, `minutes`, and `seconds`, even though they were
not explicitly specified (they are 0).

#### Truncating

`truncate` assumes a 0 value for any unspecified date component in a `DatetimeIndex` in contrast to slicing which returns any partially matching dates.

In [63]:
dft.iloc[[0,1,-2,-1]]

                            A
2013-01-01 00:00:00 -1.085631
2013-01-01 00:01:00  0.997345
2013-03-11 10:38:00  2.283746
2013-03-11 10:39:00 -1.318272

In [64]:
dft.truncate(before = '2013-2-2', after = '2013-2-4').iloc[[0,1,-2,-1]]

                            A
2013-02-02 00:00:00  0.216190
2013-02-02 00:01:00 -0.111664
2013-02-03 23:59:00 -0.502812
2013-02-04 00:00:00  0.383867

#### Assembling Datetime from Multiple DataFrame Columns

In [65]:
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5],
                   'hour': [2, 3], 'value':[3,4]})

df

   year  month  day  hour  value
0  2015      2    4     2      3
1  2016      3    5     3      4

In [66]:
pd.to_datetime(df[['year','month','day','hour']])

0   2015-02-04 02:00:00
1   2016-03-05 03:00:00
dtype: datetime64[ns]

#### Extracting date part from datetime

In [67]:
import numpy as np
a = np.random.randint(1,11, 5)
b = pd.date_range('2015-07-03', periods = 5, freq = '2H30T') 
data = {'a':a, 'date':b}
df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       5 non-null      int64
 1   date    5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 208.0 bytes

In [68]:
df.head()

    a                date
0   2 2015-07-03 00:00:00
1   7 2015-07-03 02:30:00
2   9 2015-07-03 05:00:00
3   8 2015-07-03 07:30:00
4  10 2015-07-03 10:00:00

In [69]:
df['new_date'] =(df['date']).dt.date #use dt.time to extract time part
df

    a                date    new_date
0   2 2015-07-03 00:00:00  2015-07-03
1   7 2015-07-03 02:30:00  2015-07-03
2   9 2015-07-03 05:00:00  2015-07-03
3   8 2015-07-03 07:30:00  2015-07-03
4  10 2015-07-03 10:00:00  2015-07-03

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   a         5 non-null      int64
 1   date      5 non-null      datetime64[ns]
 2   new_date  5 non-null      object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 248.0+ bytes

Note, however, that `dtype` of column `new_date` has changed.

In [71]:
np.random.seed(123)
start = pd.to_datetime('2012-04-13 04:30:00')
end = pd.to_datetime('2012-04-13 23:00:00')
rng = pd.date_range(start,end, freq = '15T')
data = pd.Series(np.random.randn(len(rng)),rng)
data[:10]

2012-04-13 04:30:00   -1.085631
2012-04-13 04:45:00    0.997345
2012-04-13 05:00:00    0.282978
2012-04-13 05:15:00   -1.506295
2012-04-13 05:30:00   -0.578600
2012-04-13 05:45:00    1.651437
2012-04-13 06:00:00   -2.426679
2012-04-13 06:15:00   -0.428913
2012-04-13 06:30:00    1.265936
2012-04-13 06:45:00   -0.866740
Freq: 15T, dtype: float64

In [72]:
data.between_time('05:15:00','08:15:00') #only time in HH:MM:SS format

2012-04-13 05:15:00   -1.506295
2012-04-13 05:30:00   -0.578600
2012-04-13 05:45:00    1.651437
2012-04-13 06:00:00   -2.426679
2012-04-13 06:15:00   -0.428913
2012-04-13 06:30:00    1.265936
2012-04-13 06:45:00   -0.866740
2012-04-13 07:00:00   -0.678886
2012-04-13 07:15:00   -0.094709
2012-04-13 07:30:00    1.491390
2012-04-13 07:45:00   -0.638902
2012-04-13 08:00:00   -0.443982
2012-04-13 08:15:00   -0.434351
Freq: 15T, dtype: float64

In [73]:
data.between_time('08:15:00','05:15:00') 
#first value is later than second value so data out of this interval
#by default both time point is inclusive

2012-04-13 04:30:00   -1.085631
2012-04-13 04:45:00    0.997345
2012-04-13 05:00:00    0.282978
2012-04-13 05:15:00   -1.506295
2012-04-13 08:15:00   -0.434351
                         ...
2012-04-13 22:00:00    0.468439
2012-04-13 22:15:00   -0.831155
2012-04-13 22:30:00    1.162204
2012-04-13 22:45:00   -1.097203
2012-04-13 23:00:00   -2.123100
Length: 64, dtype: float64

In [74]:
data.at_time('20:45')

2012-04-13 20:45:00    0.807237
Freq: 15T, dtype: float64

In [75]:
data.first('45T') #data for first 45 Minute

2012-04-13 04:30:00   -1.085631
2012-04-13 04:45:00    0.997345
2012-04-13 05:00:00    0.282978
Freq: 15T, dtype: float64

#### Month wise details when there are multiple years data

In [76]:
index = pd.date_range('2015-07-03', periods = 15, freq = 'M')
index

DatetimeIndex(['2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31',
               '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29',
               '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30',
               '2016-07-31', '2016-08-31', '2016-09-30'],
              dtype='datetime64[ns]', freq='M')

In [77]:
rng = np.random.RandomState(122)
data = pd.Series(rng.randn(len(index)), index)
data

2015-07-31    0.484680
2015-08-31   -0.822161
2015-09-30   -0.336742
2015-10-31   -1.663389
2015-11-30    1.719288
2015-12-31   -1.417075
2016-01-31   -1.384445
2016-02-29    0.402887
2016-03-31    0.594769
2016-04-30   -0.915933
2016-05-31   -1.504966
2016-06-30   -2.938250
2016-07-31   -0.271251
2016-08-31   -0.773795
2016-09-30   -1.390355
Freq: M, dtype: float64

In [78]:
data[data.index.month == 7]

2015-07-31    0.484680
2016-07-31   -0.271251
dtype: float64

#### Taking Advantage of Accessor Methods

In [79]:
pd.Series._accessors

{'cat', 'dt', 'sparse', 'str'}

In [80]:
daterng = pd.Series(pd.date_range('2017', periods = 9, freq = 'Q'))
daterng

0   2017-03-31
1   2017-06-30
2   2017-09-30
3   2017-12-31
4   2018-03-31
5   2018-06-30
6   2018-09-30
7   2018-12-31
8   2019-03-31
dtype: datetime64[ns]

In [81]:
daterng.dt.day_name()

0      Friday
1      Friday
2    Saturday
3      Sunday
4    Saturday
5    Saturday
6      Sunday
7      Monday
8      Sunday
dtype: object

In [82]:
daterng.dt.dayofyear

0     90
1    181
2    273
3    365
4     90
5    181
6    273
7    365
8     90
dtype: int64